@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  position: relative;
  margin: auto;
  margin-top: 50px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 9px 9px 9px black;

  &:before {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 4rem;
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 4rem;
    transform: rotate(180deg);
  }

  &.diamond:before,
  &.diamond:after {
    content: "♦";
    color: red;
  }

  &.heart:before,
  &.heart:after {
    content: "♥";
    color: red;
  }

  &.spade:before,
  &.spade:after {
    content: "♠";
  }

  &.club:before,
  &.club:after {
    content: "♣";
  }
}

.numbers {
  font-size: 10rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
